Django==6.0.7
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
python-decouple==3.8
psycopg2-binary==2.9.10
google-auth==2.56.2
requests==2.34.2
gunicorn==26.0.0
whitenoise==6.7.0
dj-database-url==2.1.0
scikit-learn==1.9.0
numpy==2.5.1
scipy==1.18.0
nltk==3.9.1
